<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <app-todo-search></app-todo-search>
        <i class="fa fa-align-justify"></i> Todo List
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
                  <label class="form-check-label" for="checkbox1">
                  </label>
                </div>
              </th>
              <th>Subject</th>
              <th>Decriptions</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
                  <label class="form-check-label" for="checkbox1">
                  </label>
                </div>
              </td>
              <td>Vishnu Serghei</td>
              <td>Member</td>
              <td>2012/01/01</td>
              <td>
                <span class="badge badge-success">Active</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
                  <label class="form-check-label" for="checkbox1">
                  </label>
                </div>
              </td>
              <td>Zbyněk Phoibos</td>
              <td>Staff</td>
              <td>2012/02/01</td>
              <td>
                <span class="badge badge-danger">Banned</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
                  <label class="form-check-label" for="checkbox1">
                  </label>
                </div>
              </td>
              <td>Einar Randall</td>
              <td>Admin</td>
              <td>2012/02/01</td>
              <td>
                <span class="badge badge-secondary">Inactive</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
                  <label class="form-check-label" for="checkbox1">
                  </label>
                </div>
              </td>
              <td>Félix Troels</td>
              <td>Member</td>
              <td>2012/03/01</td>
              <td>
                <span class="badge badge-warning">Pending</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
                  <label class="form-check-label" for="checkbox1">
                  </label>
                </div>
              </td>
              <td>Aulus Agmundr</td>
              <td>Staff</td>
              <td>2012/01/21</td>
              <td>
                <span class="badge badge-success">Active</span>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination pagination-sm">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="">2</a></li>
            <li class="page-item"><a class="page-link" href="">3</a></li>
            <li class="page-item"><a class="page-link" href="">4</a></li>
            <li class="page-item"><a class="page-link" href="">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>