<div class="form-group row">
  <div class="col-md-6">
    <label class="form-col-form-label">Subject</label>
    <input type="text" class="form-control form-control-sm" placeholder="Subject">
  </div>
  <div class="col-md-6">
    <label class="form-col-form-label">Decriptions</label>
    <input type="text" class="form-control form-control-sm" placeholder="Decriptions">
  </div>
  <div class="col-md-6">
    <label class="form-col-form-label">Date</label>
    <input type="date" class="form-control form-control-sm" placeholder="Date">
  </div>
  <div class="col-md-6">
    <label class="form-col-form-label">Status</label>
    <select id="select3" name="select3" class="form-control form-control-sm">
      <option value="0">Please select</option>
      <option value="1">New</option>
      <option value="2">In Progress</option>
      <option value="3">Resolve</option>
      <option value="3">Rejected</option>
      <option value="3">Pending</option>
      <option value="3">Closed</option>
    </select>
  </div>
  <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center" style="padding-top: 20px;">
    <button type="button" class="btn btn-sm btn-primary" (click)="add()">Add</button>
    <button type="button" class="btn btn-sm btn-warning">Search</button>
  </div>
</div>