<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>Add new Todo</strong>
        <div class="card-body">
          <form [formGroup]="todoForm">
            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" id="company" placeholder="Enter subject" formControlName="subject">
            </div>
            <div class="form-group">
              <label for="Decription">Decription</label>
              <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                placeholder="Decription.." formControlName="decription"></textarea>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="city">Date</label>
                <input type="date" class="form-control" id="city" placeholder="" formControlName="date">
              </div>
              <div class="form-group col-sm-6">
                <div class="form-group">
                  <label for="status">Status</label>
                  <select id="select3" name="select3" class="form-control form-control-sm" formControlName="status">
                    <option value="0">-Select-</option>
                    <option value="status.id" *ngFor="let status of statusList">{{status.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!--/.row-->
          </form>
        
        </div>
      <div class="card-footer text-center">
        <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit()"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </div>
  </div><!--/.col-->
</div>